/* Crossword.css */
.crossword-grid {
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: repeat(5, 4rem);
    gap: 0;
}

.crossword-container {
    display: flex;
    align-items: flex-start;
}

.left-panel {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    gap: 1rem; /* optional spacing between ModeSelector and ExportPanel */
}
  

.crossword-grid-wrapper {
  display: flex;
  flex-direction: column;
}